@model jirafrelance.Models.TblWorkspace

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblWorkspace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkWkspcId" />
            <div class="form-group">
                <label asp-for="FkWkspcBid" class="control-label"></label>
                <select asp-for="FkWkspcBid" class="form-control" asp-items="ViewBag.FkWkspcBid"></select>
                <span asp-validation-for="FkWkspcBid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcStartTime" class="control-label"></label>
                <input asp-for="WkspcStartTime" class="form-control" />
                <span asp-validation-for="WkspcStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcExpectendEndTime" class="control-label"></label>
                <input asp-for="WkspcExpectendEndTime" class="form-control" />
                <span asp-validation-for="WkspcExpectendEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcActualEndTime" class="control-label"></label>
                <input asp-for="WkspcActualEndTime" class="form-control" />
                <span asp-validation-for="WkspcActualEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcRating" class="control-label"></label>
                <input asp-for="WkspcRating" class="form-control" />
                <span asp-validation-for="WkspcRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcStatus" class="control-label"></label>
                <input asp-for="WkspcStatus" class="form-control" />
                <span asp-validation-for="WkspcStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcFeedback" class="control-label"></label>
                <input asp-for="WkspcFeedback" class="form-control" />
                <span asp-validation-for="WkspcFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspcAmountAgreed" class="control-label"></label>
                <input asp-for="WkspcAmountAgreed" class="form-control" />
                <span asp-validation-for="WkspcAmountAgreed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

