@model jirafrelance.Models.ViewModels.AttachmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblJobAttachment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" id="dls">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="FkAttachmentJob" required value="@ViewBag.jobid" />
                @*<label  class="control-label"></label>
                    <select asp-for="FkAttachmentJob" class ="form-control" asp-items="ViewBag.FkAttachmentJob"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentFilePath" class="control-label"></label>
                <input type="file" asp-for="JobAttachmentFilePath" class="form-control" id="jobid" multiple />
                <span asp-validation-for="JobAttachmentFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentFileName" class="control-label"></label>
                <input asp-for="JobAttachmentFileName" class="form-control" />
                <span asp-validation-for="JobAttachmentFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentDownloadName" class="control-label"></label>
                <input asp-for="JobAttachmentDownloadName" class="form-control" />
                <span asp-validation-for="JobAttachmentDownloadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        //$('#jobid').on('change',function ()
        //{
        //    var filePath = $(this).val();
        //    console.log(filePath);
        //});
        //$(function () {
        //    $('#dls').submit(function (e) {
        //        e.preventDefault()
        //        console.log(URL.createObjectURL($('#jobid').val()))
        //    })
        //})
    </script>
}
    

