@model jirafrelance.Models.TblJobAttachment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblJobAttachment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkJobAttachmentId" />
            <div class="form-group">
                <input type="hidden" asp-for="FkAttachmentJob" required value="@ViewBag.jobid" />
                @*<label asp-for="FkAttachmentJob" class="control-label"></label>*@
                @*<select asp-for="FkAttachmentJob" class="form-control" asp-items="ViewBag.FkAttachmentJob"></select>
        <span asp-validation-for="FkAttachmentJob" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentFilePath" class="control-label"></label>
                <input type="file" asp-for="JobAttachmentFilePath" class="form-control" multiple/>
                <span asp-validation-for="JobAttachmentFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentFileName" class="control-label"></label>
                <input asp-for="JobAttachmentFileName" class="form-control" />
                <span asp-validation-for="JobAttachmentFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAttachmentDownloadName" class="control-label"></label>
                <input asp-for="JobAttachmentDownloadName" class="form-control" />
                <span asp-validation-for="JobAttachmentDownloadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

