@model jirafrelance.Models.TblChatWorkspace

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblChatWorkspace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkWkspChatWorkspace" class="control-label"></label>
                <select asp-for="FkWkspChatWorkspace" class ="form-control" asp-items="ViewBag.FkWkspChatWorkspace"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkWkspChatUser" class="control-label"></label>
                <select asp-for="FkWkspChatUser" class ="form-control" asp-items="ViewBag.FkWkspChatUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="WkspChatMessage" class="control-label"></label>
                <input asp-for="WkspChatMessage" class="form-control" />
                <span asp-validation-for="WkspChatMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspChatTimeSent" class="control-label"></label>
                <input asp-for="WkspChatTimeSent" class="form-control" />
                <span asp-validation-for="WkspChatTimeSent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspChatSender" class="control-label"></label>
                <input asp-for="WkspChatSender" class="form-control" />
                <span asp-validation-for="WkspChatSender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspChatStatus" class="control-label"></label>
                <input asp-for="WkspChatStatus" class="form-control" />
                <span asp-validation-for="WkspChatStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WkspChatTimeRead" class="control-label"></label>
                <input asp-for="WkspChatTimeRead" class="form-control" />
                <span asp-validation-for="WkspChatTimeRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

